html, body{
  margin: 0;
  padding: 0;
  background-image: url(./public/images/drumkit.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

.keys{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
}

.key{
  border: .3rem solid;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

@media (max-width: 792px) {
  .keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .key{
    width: 4rem;
  }

  .sound{
    font-size: x-small;
  }

  html, body{
    background-size: contain;
    background-repeat: repeat;
  }
  
}